@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes' with ($theme: $g100);
@import "@/styles";

.content {
  position: relative;
}

.divider {
  margin: 1.5rem 0;
  height: 1px;
  width: 100%;
  background-color: themes.$layer-accent-01;
}
.search-container {
  z-index: 99;
  position: absolute;
  top: calc(3rem + 48px);
  left: 2rem;
  max-height: 600px;
  overflow-y: auto;
  width: calc(100% - 4rem);
  background: themes.$background;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  max-width: 840px;
  &.search-active {
    grid-template-rows: 1fr;
  }
}

.notification-container {
  position: fixed;
  top: 3.5rem;
  z-index: 99;
  right: 2rem;
}

.selected-entities-container {
  z-index: 99;
  position: absolute;
  bottom: calc(2rem + 40px);
  left: 2rem;
  max-height: 600px;
  overflow-y: auto;
  width: calc(100% - 4rem);
  max-width: 840px;
  background: themes.$background;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  &.selected-entities-list-active {
    grid-template-rows: 1fr;
  }
}

.search-button-container {
  position: absolute;
  z-index: 99;
  top: 3.5rem;
  left: 2rem;
}

.selected-entities-button-container {
  position: absolute;
  z-index: 99;
  bottom: 2rem;
  left: 2rem;
  display:flex;
  & > div {
    margin-right: 1px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.left-sidebar-container {
  background: themes.$background;
  position:fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 434px;
  height: 100%;
  transition: 0.2s width ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  .left-sidebar-contents {
    padding: 2rem;
    width: 434px;
  }
}

.legend-container {
  .legend-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    img {
      height: 1.5rem;
      width: 1.5rem;
      margin: -0.25rem 0.25rem -0.25rem 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.details-container{
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.viz-controller-container {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  .viz-controls {
    display: flex;
  }
  .map-controls {
    display: inline-flex;
    margin-right: 1px;
    .button-container {
      margin-right: 1px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.content {
  width: calc(100% - 434px);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}